git+https://github.com/openai/CLIP.git

-r riffusion_inference/requirements.txt
-q torch==1.13.1+cu116 
torchvision==0.14.1+cu116 
torchaudio==0.13.1 
torchtext==0.14.1 
torchdata==0.5.1 --extra-index-url https://download.pytorch.org/whl/cu116 -U

!pip install -q -U diffusers ftfy pydub
!pip install accelerate
!pip install pillow>=9.1.0
!pip install acids-rave
# 